* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 30.33%;
    padding: 19px 8px 0px 13px;
    cursor: pointer;
    margin-left:22px;
  }
  .change
{
  font-size:13px;
  color:#202020;
  margin-left:-55px;
  display:flex;
  margin-top:27px;
  justify-content:center;
  font-weight:bold;
  font-family:Noto ,sans-serif;
}
  .change1
{
  font-size:13px;
  justify-content: center;
  margin-left:-52px;
  margin-top:-18px;
  display:flex;
  color:#757575;
}

  .row
  {
      /* margin-top: 35px; */
      margin-left:58px;
  } 
 
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    cursor: pointer;
    display: table;
  } 
  @media screen and (max-width: 600px) {
    .column {
      width: 48%;
      /* height: '60px'; */
      float: left;
      margin-left: -7px;
      cursor: pointer;
      font-size: 4px;
    }

    p
    {
      font-size: 3em;
    }
  }
  @media screen and (max-width: 430px) {
    .column
    {
      width:48%;
      float: left;
      margin-left: -5px;
      cursor: pointer;
      font-size: 4px;
    }
    .column img
    {
      width:50%;
    }
    .change
    {
      margin-left: 2px;
      font-size: 13px;
    }
    .change1
    {
      margin-left:-28px ;
      font-size: 13px;
    }
  }
  @media screen and (max-width: 290px){
    
    .column {
      float: left;
      width: 50.33%;
      padding: 14px 8px 0px 0px;
      cursor: pointer;
    }
    .swap
    {
      width: 40%;
      height: 40%;;
    }
}